<nav>
  <div class="nav-wrapper">
    <%= link_to 'CIRoR', root_path, class: 'brand-logo' %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% unless current_user %>
          <li><%= link_to t('session.sign_in_with_github'), '/auth/github' %></li>
      <% end %>

      <% if current_user %>
          <li><%= link_to current_user.name, root_path %></li>
          <li><%= link_to t('session.sign_out'), sign_out_path %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% unless current_user %>
          <li><%= link_to t('session.sign_in_with_github'), '/auth/github' %></li>
      <% end %>
      <% if current_user %>
          <li><%= link_to current_user.name, root_path %></li>
          <li><%= link_to t('session.sign_out'), sign_out_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<%= javascript_tag do %>
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
<% end %>